@import url('https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css');
@import url('./grid.css');
@import url('../fontawesome-free-6.1.1-web/fontawesome-free-6.1.1-web/css/all.min.css');

@font-face {
    font-family: Roboto;
    src: url('../../font/Roboto-Regular.ttf');
}

@font-face {
    font-family: Roboto-Bold;
    src: url('../../font/Roboto-Bold.ttf');
}

@font-face {
    font-family: Roboto-Italic;
    src: url('../../font/Roboto-Italic.ttf');
}

@font-face {
    font-family: Roboto-Black;
    src: url('../../font/Roboto-Black.ttf');
}

:root{
    --hover-color: #fd5f32;

    --primary-color: #EE4D2D;
    --while-color: #fff;
    --black-color: #000;
    --text-color: #333;
    --border-color: #dbdbdb;
    --star-gold-color: #ffc33e;
    --header-height: 120px;
    --navbar-height: 34px;
}

* {
  box-sizing: inherit;
 

   
}

html {
    font-size: 62.5% !important;
    line-height: 1.6rem !important;
    font-family: Roboto !important;
    box-sizing: border-box !important;
}

.header-container {
    border-bottom: 1px solid #f5f5f5;
    background: #fff;
    position: sticky;
    top: 0;
    z-index: 999;
   
}
h3 {
    margin: 28px 0;
}
p {
    margin: 16px 0;
}