.button {
    background-color: var(--default-color);
    height: 40px;
    border-radius: 4px;
    border: 0;
    color: var(--while-color);
    padding: 0 16px;
    cursor: pointer;
}
.button-second {
    background-color: var(--dark-third-color);
    color: var(--dark-color);
    
}
.button__icon {
    margin-right: 4px;
    
}
.button__text {

}
.button-modal {
    margin-right: 12px;
}